

body, html {
  --col-acc: #77B6EA;
  --col-acc-hover: rgb(65, 152, 223);
  --col-bg: #37393A;
  --col-text: #fffffff1;
  --scrollbar-width: 6px;
  background-color: var(--col-bg);
  color: var(--col-text);
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

.viewport-section {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap
}

.column {
  float: left;
  width: 50%;
  height: 100%
}

h1 {
  margin: 0;
  font-size: 35px;
  letter-spacing: .075em
}

h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 400
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600
}

h4 {
  margin: 0;
  font-size: 19px;
  font-weight: 300;
  font-style: italic
}

.button, button {
  font-size: 1rem;
  text-decoration: none;
  color: var(--col-text);
  background: transparent;
  background-color: var(--col-acc);
  padding: .9em 1.4em;
  border: none;
  cursor: pointer;
  transition: background-color .35s
}

.button:hover, button:hover {
  background: var(--col-acc-hover)
}

::-webkit-scrollbar {
  transition: background-color .35s;
  width: var(--scrollbar-width)
}

::-webkit-scrollbar-track {
  background: var(--col-bg)
}

::-webkit-scrollbar-thumb {
  background: var(--col-acc)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--col-acc-hover)
}

.home {
  background-image: url(img/6.png);
  background-size: 100vw
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  background: var(--col-bg)
}

.nav {
  --pad-vert: 0.8em;
  --pad-hori: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-right: var(--scrollbar-width);
  padding: 0
}

.nav button {
  color: #fff;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  border: none;
  outline: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: background-color .3s
}

.list {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  margin-top: 35%;
  width: 30%;
  list-style: none
}

.list li {
  /*margin-top: 5px;
  margin-bottom: 5px;*/
  background-color: var(--col-acc);
  padding: 10px;
  font-size: 1.3em;
  /* border-radius: 25px; */
  transition: background-color 1s, color 1s;
  color: rgba(0, 0, 0, .548);
}

#item_1{
  transition: clip-path 1s, background-color 1s;
  clip-path: polygon(0 17%, 99% 2%, 100% 96%, 0 83%);
}

#item_1:hover{
  background-color: whitesmoke;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#item_2{
  transition: clip-path 1s,background-color 1s;
  clip-path: polygon(0 0, 100% 17%, 100% 96%, 0 74%);
}

#item_2:hover{
  background-color: whitesmoke;
  transition: clip-path 1s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#item_3{
  transition: clip-path 1s,background-color 1s;
  clip-path: polygon(0 0, 100% 17%, 100% 56%, 0 74%);
}

#item_3:hover{
  background-color: whitesmoke;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.list li:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: rgba(255, 255, 255, .9);
  color: #000
}

.nav li {
  display: inline-block
}

.nav .tab {
  padding: 0 var(--pad-hori)
}

.nav .tab button {
  border-bottom: 4px solid transparent;
  padding: var(--pad-vert) 0;
  font-weight: 300
}

.nav .tab button:hover {
  border-bottom: 2px solid #9e9e9ee6
}

.nav .alt button {
  float: left;
  color: var(--col-acc);
  background: 0 0;
  padding: var(--pad-vert) var(--pad-hori);
  height: 100%
}

.nav .alt button:hover {
  color: #fff;
  background-color: var(--col-acc)
}

.index1 {
  background-image: url(img/7.jpg);
  background-size: 100vw;
  background-position: center
}

.index2 {
  /*background-image: url(img/7.jpg);*/
  background-size: 100vw;
  background-position: center
}

.content{
  margin-top: 45vh;
  margin-left: 0%;
  text-align: center;
}

.intro {
  /*margin-left: 50%;*/
  margin-left: 50%;
  margin-top: 40%;
  float: left;
  text-align: center
}

h3 {
  padding: 0;
  margin: 0 0 1rem 0;
  font: normal 2rem var(--font-head)
}

.intro h2 {
  margin-bottom: 1.1em;
  font-style: italic
}

#information {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: .75em;
  background-color: var(--col-bg);
  text-align: center
}

#information h2, #information h4 {
  margin: .85em
}

.radios {
  background-image: url(img/3.png);
  background-size: 100vw
}

.radios-wrapper {
  margin: 0;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center
}

.radios-wrapper button {
  margin-top: 1em
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  font-style: none
}

.container input {
  display: none
}

.container .rb {
  --rb-size: 20px;
  position: absolute;
  margin-top: 15px;
  top: 0;
  left: 0;
  height: var(--rb-size);
  width: var(--rb-size);
  background-color: var(--col-bg);
  border-radius: 50%
}

.container:hover input~.rb {
  background-color: var(--col-acc-hover)
}

.container .rb:after {
  content: "";
  position: absolute;
  display: none
}

.container input:checked~.rb:after {
  display: block
}

.container .rb:after {
  --size: calc(var(--rb-size) * 0.4);
  --offset: calc(var(--rb-size) / 2 - var(--size) / 2);
  top: var(--offset);
  left: var(--offset);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--col-acc)
}

.copyright {
  font-size: .8em;
  text-align: center
}

a {
  color: #1e90ff
}